@page "/avisos"
<div>
    <!-- Header -->
 <Header />

    <!-- Main Content -->
    <div class="content-wrapper">
        <Sidebar />
        <RightSection @rendermode="InteractiveServer" />
    </div>
</div>
