.header-btn-outlined {
    padding: 10px 12px;
    gap: 5px;
    border-radius: 4px;
    border: 1px solid #6057ee;
    opacity: 0.9;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6057EE;
}
.header-btn-outlined .btn-text {
    font-family: 'Roboto', sans-serif; 
    font-size: 13px; 
    font-weight: 400;
    line-height: 15.23px; 
    text-align: center;
    text-decoration: none; 
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.header-btn-disabled {
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #e5e7eb;
    display: flex;
    gap: 5px;
    color: #fff;
    padding: 10px 12px;
}
